html, body {
  margin:0 !important;
  padding: 0 !important;
  height:100%;
  background-color:#292929;
  width: 100%;
}
.line{
  height: 1px;
  background:#A5A5A5;
  margin: 10px 20px 20px 20px;
}
.word{
  color:#A5A5A5;
  padding-left: 30px;
  padding-top:30px ;

}
.homeword_edvora{
  margin-top: 2.5%;
  color: white;
  font-size: 2.8rem;
}
.homeword_products{
  color: #A5A5A5;
  font-size: 2rem;
  margin-top: 1.5%;
}
.productName{
  color: #ffffff;
  font-size: 2rem;
  margin: 1% ;
  
}
.dataproductName{
  color: #ffffff;
  font-size: 130%;
  padding: 2px;
}
.restofdataproductName{
  color:rgba(255, 255, 255, 0.6);
  font-size: 120%;
  padding: 2px;
  margin: 2px;
  
}

